h1 {
    font: sean;
    font-size: 50px;
}

p {
	font: arial;
}

img {
	max-width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

body {
	margin-left: auto;
    margin-right: auto;
    width: 30em;
    background-color: #FCF76D;
}

table.wikitable, th, td {
	background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

